{% extends 'root_page.html' %}

{% block content %}

    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div id="content">

                    <article>
                        <header class="major">
                            <h2>{{ article.title }}</h2>
                            <p>{{ article.create_date|date:'d M Y' }}</p>
                        </header>

                        {% if article.image %}
                            <div class="8u image report">
                            <a href="{% url 'article' article.pk %}"
                               class="iis-slide iis-current-slide"
                               style="background-image: url({{ article.image.url }})"></a>
                        </div>
                        {% endif %}

                        <p>{{ article.body|safe }}</p>
                    </article>

                </div>
            </div>
        </div>
    </div>

{% endblock %}