{% extends 'root_page.html' %}

{% block content %}
    <div class="wrapper style3">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="12u">

                        <a href="{% url 'article_list' %}"><h2 class="icon fa-file-text-o">Отчеты</h2></a>
                        {% for report in reports %}
                            <article class="box report">

                                {% if report.slider.exists %}
                                    <div class="8u image report slider" id="slider{{ forloop.counter }}">
                                        {% for image in report.slider.all %}
                                            <a href="{% url 'report' report.pk %}">
                                                <img data-src="{{image}}" src="{% if forloop.first %}{{image}}{% endif %}" alt="" />
                                            </a>
                                            <a class="iis-previous-nav"></a>
                                            <a class="iis-next-nav"></a>
                                        {% endfor %}
                                    </div>

                                {% elif report.image %}
                                    <div class="8u image report">
                                        <a href="{% url 'report' report.pk %}"><img src="{{ report.image.url }}" alt="" /></a>
                                    </div>
                                {% endif %}

                                <div align="center">
                                    <a href="{% url 'article' report.pk %}">
                                        <header>
                                            <h3>{{ report.main_title }}</h3>
                                            <span class="date">{{ report.add_title }}</span>
                                        </header>
                                    </a>
                                    {{ report.body|truncatechars_html:'500'|safe }}
                                </div>
                            </article>
                        {% endfor %}

                        {% include 'pagination.html' with url_part='reports' %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}