{% load menu %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Организация мероприятий</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" Content ="мероприятия">
        <link rel="shortcut icon" href="/static/images/favicon.png" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
        <script src="/static/js/ideal-image-slider.min.js"></script>
		<script src="/static/js/init.js"></script>
{#		<noscript>#}
			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-desktop.css" />
            <link rel="stylesheet" href="/static/css/ideal-image-slider.css" />
{#		</noscript>#}
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">
		<a href="https://github.com/Seleznev-nvkz/event_creative/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
		<!-- Header -->
			<div id="header-wrapper">
				<div class="container">
                    <header id="header">
                        <div class="inner">
                            <h1><a href="{% url 'main_page' %}" id="logo">EventCreative</a></h1>
                            <nav id="nav">
                                <ul>
                                    <li class="{% active_url request 'main_page' %}"><a href="{% url 'main_page' %}">Главная</a></li>
                                    <li class="{% active_url request 'service_list' %}"><a href="{% url 'service_list' %}">Услуги</a></li>
                                    <li class="{% active_url request 'article_list article' %}"><a href="{% url 'article_list' %}">Статьи</a></li>
                                    <li class="{% active_url request 'report_list report' %}"><a href="{% url 'report_list' %}">Отчеты</a></li>
{#                                    <li class="{% active_url request 'contacts' %}"><a href="{% url 'contacts' %}">О нас</a></li>#}
                                    <li>
                                        <a class="social_icon" href="http://vk.com/ev_cr"><img src="/static/images/rsz_vk.png" class="vk"></a>
                                        <a class="social_icon"><img src="/static/images/rsz_1instagram.png" class="instagram"></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </header>

                    {% block header %}{% endblock %}
				</div>
			</div>

		<!-- Main Wrapper -->
			<div id="main-wrapper">
                {% block content %} {% endblock %}
                {% include 'articles_block.html' %}
			</div>

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row">
						<div class="6u"> </div>
						<div class="6u">

							<!-- Contact -->
								<section>
									<h2>Наши контакты</h2>
									<div>
										<div class="row">
											<div class="6u">
												<dl class="contact">
													<dt>Vkontakte</dt>
													<dd><a href="http://vk.com/ev_cr">vk.com/ev_cr</a></dd>
													<!--<dt>Facebook</dt>-->
													<!--<dd><a href="#">facebook.com/untitled</a></dd>-->
													<dt>Instagram</dt>
													<dd><a href="http://instagram.com/event_creative">instagram.com/event_creative</a></dd>
													<dt>Email</dt>
													<dd><a href="mailto:event-creative@mail.ru">event-creative@mail.ru</a></dd>
												</dl>
											</div>
											<div class="6u">
												<dl class="contact">
													<!--<dt>Адрес</dt>-->
													<!--<dd>1234 Fictional Rd<br />-->
													<!--	Nashville, TN 00000-0000<br />-->
													<!--	USA-->
													<!--</dd>-->
													<dt>Телефоны</dt>
													<dd>8-929-350-55-56<br />

                                                    </dd>
												</dl>
											</div>
										</div>
									</div>
								</section>

						</div>
					</div>
				</footer>
			</div>

	</body>
</html>
