{% extends 'root_page.html' %}

{% block content %}
    <div class="wrapper style3">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="12u">

                        <h2 class="icon fa-file-text-o">Наши Услуги</h2>
                        {% for service in services %}
                            <article class="box report">
                            <h3 align="center">{{ service.main_title }}</h3>
                                {% if service.image %}
                                    <div class="8u service_image">
                                        <img src="{{ service.image.url }}" alt="" />
                                    </div>
                                {% endif %}
                                <div align="center">
                                    <header>
                                        <h4>{{ service.add_title }}</h4>
                                    </header>
                                    <p>{{ service.body|safe }}</p>
                                </div>
                            </article>
                        {% endfor %}

                        {% include 'pagination.html' with url_part='services' %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}